body {
    color: #333;
    font-size: 100%;
    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: 0.025em;
    font-family: 'Droid Serif', serif;
}

.container {
    max-width: 700px;
}

iframe {
    margin: 45px auto 0;
    display: block;
}

.hero,
.intro,
.eighty-twenty,
.sign-up {
    padding: 50px 0;
}

.shadow {
    box-shadow: 0px 2px 7px #d3d3d3;
}

.intro {
    border-top: solid 2px #9cdbea;

    background: rgba(235,248,251,1);
    background: -moz-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,248,251,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf8fb', endColorstr='#ffffff', GradientType=0 );
}


.eighty-twenty {
    background: #68a988;
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
}

p {
    font-size: 18px;
    font-weight: 200;
    line-height: 34px;
}

.title {
    /*font-weight: 200;
    letter-spacing: 0.025em;*/
    /*margin-bottom: 25px;
    color: #333;*/
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

/*.secondary-title {
    font-weight: 200;
    margin: 0 0 35px;
    letter-spacing: 0.025em;
}

.subtitle {
    font-weight: 600;
    margin: 0 0 15px;
    font-size: 18px;
}*/

ul {
    padding: 0 20px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
/* -------------------------------- */
/* Custom Form Styles */
input,
button {
    height: 50px !important;
    border-radius: 2px !important;
}

.ck_form.ck_naked {
    margin-bottom: 0px !important;
}

.ck_form.ck_naked input.green {
    border: 0 !important;
    border-top: 3px solid #68a988 !important;
}

.ck_form.ck_naked input.red {
    border: 0 !important;
    border-top: 3px solid #cf4431 !important;
}

button {
    cursor: pointer;
}

button.ck_subscribe_button.btn.green {
    background: #68a988;
    border-bottom: 5px solid #5a8e73;
}

button.ck_subscribe_button.btn.green:hover {
    background:#77bd9a;
}

button.ck_subscribe_button.btn.green:active {
    border-bottom: 5px solid #68a988;
}

button.ck_subscribe_button.btn.red {
    background: #cf4431;
    border-bottom: 5px solid #ac3d2e;
}

button.ck_subscribe_button.btn.red:hover {
    background:#db4d3a;
}

button.ck_subscribe_button.btn.red:active {
    border-bottom: 5px solid #cf4431;
}


/* -------------------------------- */
/* ConvertKit styles */

.ck_form.ck_naked {
/* divider image */
  background: transparent;
  line-height: 1.5em;
  overflow: visible;
  color: #666;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 20px 0px;
  text-align: center;
}

.ck_form.ck_naked p {
  padding: 0px;
}

.ck_form, .ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields {
  width: 100%;
  float: left;
  margin: 35px 0;
}
/* Form fields */

.ck_errorArea {
  display: none; /* temporary */
}

#ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
}

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
  font-size: 18px;
  padding: 10px 8px;
  width: 34%;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: auto;
  float: left;
  margin: 0px;
  margin-right: 1%;
  height: 42px;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.ck_form.ck_naked .ck_subscribe_button {
  width: 100%;
  color: #fff;
  margin: 0px;
  padding:  9px 0px;
  font-size: 18px;
  background: #0d6db8;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  cursor: pointer;
  border: none;
  text-shadow: none;
  width: 30%;
  float: left;
  height: 42px;
}


.ck_converted_content {
    display: none;
    padding: 5%;
    background: #fff;
}

/* max width 500 */

  .ck_form.ck_naked.width500 .ck_subscribe_button {
      width: 100%;
      float: none;
      margin-top: 5px;
  }

  .ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
      width: 49%;
  }

  .ck_form.ck_naked.width500 input[type="email"] {
      margin-right: 0px;
      width: 50%;
  }

/* max width 400 */

  .ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
      width: 100%;
      float: none;
      margin-top: 5px;
  }

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
  min-width: 400px;
}

.page .ck_form.ck_naked {
  margin: 50px auto;
  max-width: 700px;
}
