
/* -------------------------------- */
/* Custom Form Styles */
input,
button {
    height: 50px !important;
    border-radius: 2px !important;
}

.ck_form.ck_naked {
    margin-bottom: 0px !important;
}

.ck_form.ck_naked input.green {
    border: 0 !important;
    border-top: 3px solid #68a988 !important;
}

.ck_form.ck_naked input.red {
    border: 0 !important;
    border-top: 3px solid #cf4431 !important;
}

button {
    cursor: pointer;
}

button.ck_subscribe_button.btn.green {
    background: #68a988;
    border-bottom: 5px solid #5a8e73;
}

button.ck_subscribe_button.btn.green:hover {
    background:#77bd9a;
}

button.ck_subscribe_button.btn.green:active {
    border-bottom: 5px solid #68a988;
}

button.ck_subscribe_button.btn.red {
    background: #cf4431;
    border-bottom: 5px solid #ac3d2e;
}

button.ck_subscribe_button.btn.red:hover {
    background:#db4d3a;
}

button.ck_subscribe_button.btn.red:active {
    border-bottom: 5px solid #cf4431;
}





.ck_subscribe_form.chubby input[type="text"].ck_first_name,
.ck_subscribe_form.chubby input[type="email"].ck_email_address {
    border-radius: 10px !important;
    padding: 35px 20px;
    font-size: 22px;
}

.ck_form.ck_naked .ck_subscribe_form.chubby  .ck_subscribe_button {
    background: none;
    border: 4px solid #fff;
    border-radius: 10px !important;
    font-size: 24px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    height: 72px !important;
    padding: 0px;
}



/* -------------------------------- */
/* ConvertKit styles */

.ck_form.ck_naked {
/* divider image */
  background: transparent;
  line-height: 1.5em;
  overflow: visible;
  color: #666;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 20px 0px;
  text-align: center;
}

.ck_form.ck_naked p {
  padding: 0px;
}

.ck_form, .ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields {
  width: 100%;
  float: left;
  margin: 35px 0;
}
/* Form fields */

.ck_errorArea {
  display: none; /* temporary */
}

#ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
}

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
  font-size: 18px;
  padding: 10px 8px;
  width: 34%;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: auto;
  float: left;
  margin: 0px;
  margin-right: 1%;
  height: 42px;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.ck_form.ck_naked .ck_subscribe_button {
  width: 100%;
  color: #fff;
  margin: 0px;
  padding:  9px 0px;
  font-size: 18px;
  background: #0d6db8;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  cursor: pointer;
  border: none;
  text-shadow: none;
  width: 30%;
  float: left;
  height: 42px;
}

.ck_converted_content {
    display: none;
    padding: 5%;
    background: #fff;
}

/* max width 500 */

  .ck_form.ck_naked.width500 .ck_subscribe_button {
      width: 100%;
      float: none;
      margin-top: 5px;
  }

  .ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
      width: 49%;
  }

  .ck_form.ck_naked.width500 input[type="email"] {
      margin-right: 0px;
      width: 50%;
  }

/* max width 400 */

  .ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
      width: 100%;
      float: none;
      margin-top: 5px;
  }

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
  min-width: 400px;
}

.page .ck_form.ck_naked {
  margin: 50px auto;
  max-width: 700px;
}
