// Imports

@import 'typography';
@import 'ck';

// Variables
$heading-font: "HelveticaNeue-CondensedBold", "Helvetica Neue";;
$body-font: "Helvetica Neue", helvetica, sans-serif;

body {
    color: #555;
    font-size: 16px;
    line-height: 1.2em;
    font-family: $body-font;
}

ul {
    list-style-type: none;
    padding:0;
    margin-bottom: 20px;
}
ul,
ol {
    line-height: 34px;
    font-size: 18px;
}
img {
    max-width: 100%;
}


.container {
    max-width: 800px;
}

.nav .container {
    max-width: 1000px;
    padding: 20px 0;
}
.nav .logo {
    float: left;
}
.main-nav ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
    margin: 5px 0;
}
.main-nav ul li {
    float: left;
    padding: 5px 10px;
}

.main-nav ul li a {
    color: #676767;
    border-top: 2px solid #fff;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 22px;
}

.main-nav ul li a:hover {
    color: #05A997;
    border-top: 2px solid #05A997;
    text-decoration: none;
}

.hero,
.intro,
.hedge,
.bonuses,
.cta-container,
.container-fluid,
.credit,
.game-it {
    padding: 50px 0;
}
.shadow {
    box-shadow: 0px 2px 5px #9c9c9c;
}
.hero {
    background: url('images/hero-bg.png');
    /*background-size: cover;*/
    background-position: center;
    height: 700px;
    color: #fff;
    padding: 100px 0;
}
.intro,
.game-it {
    border-top: solid 1px #9cdbea;
    background: rgba(235,248,251,1);
    background: -moz-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,248,251,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(235,248,251,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf8fb', endColorstr='#ffffff', GradientType=0 );
}
.bonuses {
    border-top: solid 1px #68a988;
    background: rgb(225,238,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(225,238,231,1) 0%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(225,238,231,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(225,238,231,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eee7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.hedge {
    background: #9a8170;
    color: rgba(255, 255, 255, 0.9);
}
.credit {
    border-top: solid 4px #fff;
    background: #68a988;
    color: rgba(255, 255, 255, 0.9);
}

.cc-progression,
.credit-progression,
.alliance-list {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3em;
    padding: 15px;
    font-size: 14px;
}

.cc-progression li:after {
    content: url('images/arrow.png');
    position: absolute;
    right: -27px;
    top: 36px;
}

.cc-progression li:last-child:after {
    content: '';
}

.icon-container {
    margin-bottom: 15px;
}

.cc-repeat {
    width: 100%;
    max-width: 410px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.cc-repeat li {
    float: left;
    margin-right: 15px;
}

.bonuses .map {
    margin: 0 auto;
    display: block;
}

.th-steps {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3em;
    padding: 15px;
}

.th-steps li {
    margin: 10px 0;
}

.th-steps li img {
    margin-right: 10px;
}
.offScreenImage {
    position: absolute;
    left: -800px;
}

@media (max-width: 770px) {
    .cc-progression li:after,
    .cc-repeat,
    .credit-progression .col-md-3 img,
    .credit-progression .col-md-2 img {
        display: none;
    }

    // .hero {
    //     background: url('images/city.jpg');
    //     background-position: center;
    //     background-size: cover;
    // }
}
